<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active current"><a routerLink="/employees">Employyes List</a></li>
                <li routerLinkActive="active current"><a routerLink="/employee-details">Employyes Details</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form class="form-inline">
                        <button (click)="logout()" class="btn btn-sm btn-primary" style="margin-top: 10px;" type="button">Sign Out</button>
                    </form>
                </li>
            </ul>
            
        </div>
    </div>
</nav>
<br>
